@media screen and (min-width: 319px) {
  .container {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 359px) {
  container {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 374px) {
  .container {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 410px) {
  .container, .container-footer {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 576px) {
  .container, .container-footer {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container, .container-footer {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 992px) {
  .container, .container-footer {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container, .container-footer {
    max-width: 100%;
    margin: auto;
  }
}

#div-index-grid {
  vertical-align: baseline;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo titulo titulo" "ilustradores gallery descripcion" "titulo-autor titulo-autor titulo-autor" "autor-video autor-biografia autor-redes" "titulo-diseno titulo-diseno titulo-diseno" "compra p-descripcion p-descripcion" "sugerencias sugerencias sugerencias" "carrito carrito carrito" "suscribe suscribe suscribe";
  -ms-grid-rows: 80px 380px 80px 360px 80px 450px 380px 240px 630px;
      grid-template-rows: 80px 380px 80px 360px 80px 450px 380px 240px 630px;
  -ms-grid-columns: 28% 35% 36%;
      grid-template-columns: 28% 35% 36%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#div-index-grid > h2.seccion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
}

#div-index-grid > #ilustradores {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ilustradores;
}

#div-index-grid > div.slideGallery {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: gallery;
}

#div-index-grid > #descripcion {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: descripcion;
}

#div-index-grid > #titulo-autor {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: titulo-autor;
}

#div-index-grid > iframe.autor-video {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: autor-video;
}

#div-index-grid > aside.biografia {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: autor-biografia;
}

#div-index-grid > aside#redesIlustrador {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: autor-redes;
}

#div-index-grid > #sugerencias {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: sugerencias;
}

#div-index-grid > #titulo-diseno {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: titulo-diseno;
}

#div-index-grid > #producto-compra {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: compra;
}

#div-index-grid > div.producto-descripcion {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: p-descripcion;
}

#div-index-grid > #carrito {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: carrito;
}

#div-index-grid > aside.suscribe.wow.fadeInUp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: suscribe;
}

#main-noticias-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "seccion" "noticias" "suscribe";
  -ms-grid-rows: 80px 1370px 640px;
      grid-template-rows: 80px 1370px 640px;
  -ms-grid-columns: 98%;
      grid-template-columns: 98%;
  grid-column-gap: 5px;
  grid-row-gap: 15px;
}

#main-noticias-grid h2.seccion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: seccion;
}

#main-noticias-grid div.noticias {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: noticias;
}

#main-noticias-grid aside.suscribe {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: suscribe;
}

#vertodo-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo titulo" "detalle disponible" "compra p-descripcion" "carrito carrito";
  -ms-grid-rows: 80px 660px 450px 240px;
      grid-template-rows: 80px 660px 450px 240px;
  -ms-grid-columns: 42% 56%;
      grid-template-columns: 42% 56%;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

#vertodo-grid h2.seccion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
}

#vertodo-grid section.detalle-producto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: detalle;
}

#vertodo-grid section.disponibles {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: disponible;
}

#vertodo-grid #producto-compra {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: compra;
}

#vertodo-grid div.producto-descripcion {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: p-descripcion;
}

#vertodo-grid #carrito {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: carrito;
}

#usuario-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo titulo" "nombre-usuario nombre-usuario" "card-usuario tab-usuario" "carrito proceso-compra";
  -ms-grid-rows: 80px 80px 350px 320px;
      grid-template-rows: 80px 80px 350px 320px;
  -ms-grid-columns: 36% 58%;
      grid-template-columns: 36% 58%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#usuario-grid h2.seccion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
}

#usuario-grid h3.name-usuario {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nombre-usuario;
}

#usuario-grid figure.usuario {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: card-usuario;
}

#usuario-grid article.tab-usuario {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: tab-usuario;
}

#usuario-grid > #carrito {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: carrito;
}

#usuario-grid aside.proceso-de-compra {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: proceso-compra;
}

@media screen and (min-width: 319px) and (max-width: 409px) {
  #div-index-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "descripcion" "ilustradores" "gallery" "titulo-autor" "autor-redes" "autor-video" "autor-biografia" "titulo-diseno" "compra" "sugerencias" "carrito" "suscribe";
    -ms-grid-rows: 80px 340px 340px 300px 80px 220px 200px 380px 80px 260px 400px 280px 760px;
        grid-template-rows: 80px 340px 340px 300px 80px 220px 200px 380px 80px 260px 400px 280px 760px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #div-index-grid > div.producto-descripcion {
    display: none;
  }
  #main-noticias-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "seccion" "noticias" "suscribe";
    -ms-grid-rows: 80px 2410px 780px;
        grid-template-rows: 80px 2410px 780px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
  #main-noticias-grid figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main-noticias-grid figure img {
    width: 50%;
  }
  #main-noticias-grid figure p {
    width: 98%;
  }
  #vertodo-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "detalle" "disponible" "compra" "carrito";
    -ms-grid-rows: 100px 420px 400px 450px 240px;
        grid-template-rows: 100px 420px 400px 450px 240px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
  #vertodo-grid > div.producto-descripcion {
    display: none;
  }
  #vertodo-grid .detalle-producto figure img {
    width: 100%;
  }
  #vertodo-grid .listado-modelos {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #vertodo-grid .listado-modelos a img {
    width: 100%;
  }
  #vertodo-grid .disponibles {
    width: 99.9%;
    height: 360px;
  }
  #vertodo-grid .listado-productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    overflow: hidden;
    overflow-x: scroll;
    width: 98%;
  }
  #usuario-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra";
    -ms-grid-rows: 80px 80px 200px 400px 300px 320px;
        grid-template-rows: 80px 80px 200px 400px 300px 320px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
}

@media screen and (min-width: 410px) and (max-width: 766px) {
  #div-index-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "descripcion" "ilustradores" "gallery" "titulo-autor" "autor-redes" "autor-video" "autor-biografia" "titulo-diseno" "compra" "sugerencias" "carrito" "suscribe";
    -ms-grid-rows: 80px 340px 340px 300px 80px 220px 200px 380px 80px 260px 400px 280px 740px;
        grid-template-rows: 80px 340px 340px 300px 80px 220px 200px 380px 80px 260px 400px 280px 740px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #div-index-grid > div.producto-descripcion {
    display: none;
  }
  #main-noticias-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "seccion" "noticias" "suscribe";
    -ms-grid-rows: 80px 2600px 780px;
        grid-template-rows: 80px 2600px 780px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
  #main-noticias-grid figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main-noticias-grid figure img {
    width: 75%;
  }
  #main-noticias-grid figure p {
    width: 98%;
  }
  #vertodo-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "detalle" "disponible" "compra" "carrito";
    -ms-grid-rows: 80px 460px 380px 430px 260px;
        grid-template-rows: 80px 460px 380px 430px 260px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
  #vertodo-grid > div.producto-descripcion {
    display: none;
  }
  #vertodo-grid .detalle-producto figure img {
    width: 100%;
  }
  #vertodo-grid .listado-modelos {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #vertodo-grid .listado-modelos a img {
    width: 100%;
  }
  #vertodo-grid .disponibles {
    width: 99.9%;
    height: 360px;
  }
  #vertodo-grid .listado-productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    overflow: hidden;
    overflow-x: scroll;
    width: 98%;
  }
  #usuario-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra";
    -ms-grid-rows: 80px 80px 200px 400px 300px 320px;
        grid-template-rows: 80px 80px 200px 400px 300px 320px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  #div-index-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo titulo" "descripcion descripcion" "ilustradores gallery" "titulo-autor titulo-autor" "autor-redes autor-video" "autor-biografia autor-biografia" "titulo-diseno titulo-diseno" "compra sugerencias" "carrito carrito" "suscribe suscribe";
    -ms-grid-rows: 80px 200px 340px 80px 220px 200px 80px 360px 260px 680px;
        grid-template-rows: 80px 200px 340px 80px 220px 200px 80px 360px 260px 680px;
    -ms-grid-columns: 42% 56%;
        grid-template-columns: 42% 56%;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #div-index-grid > div.producto-descripcion {
    display: none;
  }
  #main-noticias-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "seccion" "noticias" "suscribe";
    -ms-grid-rows: 80px 1420px 600px;
        grid-template-rows: 80px 1420px 600px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
  #main-noticias-grid figure > img {
    width: 40%;
  }
  #vertodo-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo titulo" "detalle disponible" "compra carrito";
    -ms-grid-rows: 80px 450px 380px;
        grid-template-rows: 80px 450px 380px;
  }
  #vertodo-grid > div.producto-descripcion {
    display: none;
  }
  #vertodo-grid .detalle-producto {
    padding: 0.2rem;
  }
  #vertodo-grid .detalle-producto figure img {
    width: 75%;
  }
  #vertodo-grid .listado-modelos {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #vertodo-grid .listado-modelos a img {
    width: 100%;
  }
  #vertodo-grid .disponibles {
    width: 98%;
    height: 360px;
  }
  #vertodo-grid .listado-productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    overflow: hidden;
    overflow-x: scroll;
    width: 98%;
  }
  #vertodo-grid #producto-compra {
    display: block;
  }
  #usuario-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra";
    -ms-grid-rows: 80px 80px 200px 400px 300px 320px;
        grid-template-rows: 80px 80px 200px 400px 300px 320px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
}

@media screen and (min-width: 1024px) {
  .detalle-producto {
    padding: 0.2rem;
  }
  .detalle-producto figure img {
    width: 75%;
  }
  .listado-modelos {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .listado-modelos a img {
    width: 100%;
  }
}

header {
  margin: 0 !important;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.top {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top > div {
  width: 40%;
  padding: 0;
}

.top > div > div {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: lightSpeedIn 8s ease-in-out;
          animation: lightSpeedIn 8s ease-in-out;
  display: inline-block;
}

.top p {
  margin: 0;
  padding: 0;
}

.top a {
  font-family: "Josefin Slab", serif;
  font-size: 14px;
  text-decoration: none;
  color: blueviolet;
}

.iniciarSesion {
  background-color: black;
  padding: 0;
  display: inline-block;
  margin: 00;
  border: ridge black;
}

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
            transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
            transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
          animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.fondo-titulo {
  background-color: black;
  background-image: url("../../assets/logo/fondo-titulo-full.png");
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-animation: slideInDown 1.2s ease-out;
          animation: slideInDown 1.2s ease-out;
}

.titulo-header {
  text-align: center;
}

.principalTitle {
  color: #0099ff;
  font-size: 400%;
  line-height: 3;
  text-align: center;
  font-family: "Amatic SC", cursive;
  letter-spacing: 5px;
  margin: 0rem;
  padding: 0rem;
}

nav {
  display: inline-block;
  width: 100%;
  z-index: 20;
}

.menu {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #3a3232;
  line-height: 1.2;
  list-style: none;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  z-index: 2;
  padding: 0;
  margin: 0;
}

.menu ul {
  padding: 1rem;
}

.menu li {
  display: inline-block;
  width: 15%;
  text-align: center;
  font-size: 16px;
  border-right: solid 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 20;
  position: relative;
  padding: 1rem;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.menu li:hover {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
}

.menu li:focus {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
}

.menu li:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
}

.menu li li {
  display: block;
  padding: 1rem;
  width: 100%;
  background-color: azure;
}

.menu > li:last-child {
  border-right: none;
}

.menu ul {
  position: absolute;
  display: none;
}

.menu ul li {
  display: block;
  padding: 1rem;
  width: 100%;
  background-color: azure;
}

ul li:hover ul {
  display: block;
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

/**/
button#menu-button {
  display: none;
}

@media all and (min-width: 319px) and (max-width: 767px) {
  button#menu-button {
    display: block;
  }
}

button#menu-button:focus + nav#superior {
  display: block;
}

@media all and (min-width: 319px) and (max-width: 767px) {
  #superior {
    display: none;
  }
  #superior > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 1rem;
  }
}

@media all and (min-width: 319px) and (max-width: 767px) and (min-width: 319px) and (max-width: 767px) {
  #superior > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #superior > ul > li {
    position: relative;
    display: block;
    width: 8em;
    text-align: center;
    -webkit-transition: 1s all;
    transition: 1s all;
    border: solid 1px;
    padding: 1rem;
  }
  #superior > ul > li a {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (min-width: 319px) and (max-width: 767px) {
  #superior > ul li:hover ul {
    display: block;
  }
  #superior > ul li ul {
    display: none;
    position: absolute;
    top: 0;
    left: 8em;
  }
}

@media all and (min-width: 319px) and (max-width: 767px) {
  .principalTitle {
    color: #0099ff;
    font-size: 100 .principalTitle;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 2px;
  }
  .fondo-titulo {
    background-color: black;
    background-image: none;
  }
}

footer {
  background-color: #cff2f6;
}

.container-footer {
  width: 98%;
}

.info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.informacion-sitio {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.informacion-sitio > ul > li {
  color: #3a3232;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.7rem;
}

.informacion-sitio > ul > li:hover {
  background-color: #f7f5f6;
}

.informacion-sitio > ul > li:first-child {
  font-size: 26px;
}

.informacion-sitio ul {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.ayuda-sitio {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ayuda-sitio > ul > li {
  color: #3a3232;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.7rem;
}

.ayuda-sitio > ul > li:hover {
  background-color: #f7f5f6;
}

.ayuda-sitio > ul > li:first-child {
  font-size: 26px;
}

.ayuda-sitio ul {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#informacion {
  cursor: pointer;
}

#informacion li:first-child {
  cursor: default;
}

#ayuda {
  cursor: help;
}

#ayuda li:first-child {
  cursor: default;
}

.contacto {
  margin: 0;
  padding: 0;
  font-family: "Josefin Slab",serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacto > ul {
  margin: 0;
  padding-top: 0 !important;
  padding-bottom: 0% !important;
}

.contacto > ul > li {
  color: #3a3232;
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.7rem;
  cursor: default;
}

.contacto > ul > li img {
  width: 20px;
}

.contacto > ul > li:hover {
  background-color: #f7f5f6;
}

.contacto > ul > li:first-child {
  font-size: 26px;
  font-weight: 900;
}

.copyright-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.8;
}

.copyright-redes > h4 {
  color: #3a3232;
  display: inline-block;
  padding: 0;
  font-family: "Josefin Slab",serif;
}

.copyright-redes > ul {
  padding: 0;
  display: inline-block;
  margin: 0;
}

.copyright-redes > ul > li {
  list-style: none;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 1rem;
  vertical-align: middle;
}

.copyright-redes > ul > li > a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.copyright-redes > ul > li > a img {
  width: 2em;
}

@media all and (min-width: 319px) and (max-width: 767px) {
  .info-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: columns;
            flex-flow: columns;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body {
  background-color: #f5f6fa;
  margin: 0;
  padding: 0;
  font-size: 1em;
  vertical-align: baseline;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

a {
  font-size: 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  margin: auto;
  width: 84%;
  height: 100%;
}

.seccion {
  color: #69d2e7;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 1.3rem;
  display: block;
}

.boton-inicio {
  position: -webkit-sticky;
  position: sticky;
  top: 490px;
  display: inline-block;
  left: 90%;
  z-index: 3;
}

#ilustradores {
  display: inline-block;
}

.artistasSeleccion {
  color: #0099ff;
  font-family: "Josefin Sans", sans-serif;
  line-height: 2;
  font-size: large;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: fadeInLeft 2s 0.2s ease-in;
          animation: fadeInLeft 2s 0.2s ease-in;
  background-color: rgba(197, 197, 197, 0.2);
  border-color: azure;
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem 1.7rem 1rem 2rem;
}

.slidegallery {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(197, 197, 197, 0.2);
  text-align: center;
  background-color: #cff2f6;
  display: block;
}

.slidegallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slidegallery ul li {
  position: absolute;
  -webkit-animation: fadeOut 20s infinite;
          animation: fadeOut 20s infinite;
  z-index: 2;
}

.slidegallery ul li:nth-child(2) {
  z-index: 3;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.slidegallery ul li:nth-child(3) {
  z-index: 4;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.slidegallery ul li:nth-child(4) {
  z-index: 5;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.slidegallery ul li img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slidegallery > div > label {
  font-family: "Josefin Sans", sans-serif;
  color: #3a3232;
  width: 50%;
  z-index: 10;
}

.slidegallery > div > input {
  padding: 10px 0;
  width: 16px;
  color: #3a3232;
  z-index: 10;
}

@-webkit-keyframes fadeOut {
  10% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  10% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.introduccion {
  color: #3a3232;
  line-height: 1.8;
  font-size: 120%;
  font-family: "Josefin Slab", serif;
  font-style: oblique;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: 600;
}

.autor-video {
  width: 100%;
  border: #3a3232 ridge 3px;
  display: inline-block;
  -webkit-animation: fadeInLeft 2s 0.2s ease-in;
          animation: fadeInLeft 2s 0.2s ease-in;
}

.biografia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#redesIlustrador {
  display: inline-block;
  -webkit-animation: fadeInRight 2s 0.2s ease-in;
          animation: fadeInRight 2s 0.2s ease-in;
}

.redes {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.redes > li {
  color: purple;
  text-decoration: none;
  font-size: large;
  line-height: 1.6;
  font-family: "Josefin Slab", serif;
}

.redes > li > a {
  color: purple;
  text-decoration: none;
  font-size: large;
  line-height: 1.6;
  font-family: "Josefin Slab",serif;
}

#producto-compra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#producto-descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#diseno-descripcion {
  border: #e0e4cc ridge 2px;
  font-size: medium;
  font-family: "Josefin Slab", serif;
  line-height: 1.3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  margin-top: 50px;
  border-spacing: 0.1rem;
  border-collapse: separate;
}

#diseno-descripcion td {
  padding: 0.4rem;
}

#diseno-descripcion th {
  padding: 0.4rem;
}

#diseno-descripcion tr {
  padding: 0.4rem;
}

#diseno-descripcion tr:nth-child(even) {
  background-color: #f3eddc;
}

#diseno-descripcion tr:nth-child(odd) {
  background-color: #f7f5f6;
}

#diseno-descripcion tr:hover {
  background-color: rgba(32, 153, 209, 0.479);
}

#diseno-descripcion caption {
  background-color: #f1dde4;
}

#sugerencias {
  width: 96%;
  height: 380px;
  padding: 0.2rem;
}

#sugerencias ol {
  overflow: hidden;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0em;
  padding: 0.5rem;
}

#sugerencias ol > li > div {
  width: 145px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 220px;
}

#sugerencias ol > li > div > a > div {
  width: 145px;
  background-color: rgba(243, 252, 253, 0.658);
}

#sugerencias li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  margin: 0.2rem;
  padding: 0.3rem;
  background-color: rgba(197, 197, 197, 0.2);
}

#sugerencias p.nombre-producto {
  font-family: "Josefin Sans", sans-serif;
}

#sugerencias img {
  width: 140px;
}

#sugerencias a:hover {
  color: #69d2e7;
}

#compra {
  display: inline-block;
  position: relative;
  margin: 0;
  color: #3a3232;
}

#compra p {
  color: #3a3232;
  font-weight: 600;
}

#compra input {
  background-color: azure;
  padding: 0.4rem;
  margin-left: 1rem;
  width: 6.5rem;
}

#compra input:hover {
  background-color: #69d2e7;
}

#compra #precio {
  width: 4rem;
}

#compra #cantidad {
  width: 4rem;
}

@-webkit-keyframes fadeInLeft {
  from {
  }
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  to {
  }
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.compras {
  color: #3a3232;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.8;
  display: inline-block;
  border-style: solid;
  border-color: #f3f3f3;
  border-width: 2px;
  border-radius: 20px;
  padding: 0.5rem;
  -webkit-animation: fadeInLeft 2s 0.2s ease-in;
          animation: fadeInLeft 2s 0.2s ease-in;
  z-index: 2;
}

.compras label {
  display: block;
  padding: 0.2rem;
}

.compras input {
  background-color: azure;
  padding: 0.4rem;
  margin-left: 1rem;
  width: 7rem;
}

.compras input:hover {
  background-color: #69d2e7;
}

.ilustradores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
}

.ilustradores figure {
  width: 25%;
}

.ilustradores img {
  border-radius: 100%;
  border-style: groove;
  border-bottom-color: darksalmon;
  border-left-color: #ff7300;
  border-top-color: #ff0062;
  border-right-color: #ff2600;
  width: 10rem;
}

.ilustradores img:hover {
  border-style: dashed;
}

.ilustradores p {
  color: #3a3232;
  font-family: "Josefin Slab", serif;
  font-weight: bolder;
  line-height: 1.5;
  font-size: large;
}

.ilustradores h3 {
  color: #0099ff;
  font-family: "Josefin Sans", sans-serif;
  line-height: 2;
  font-size: large;
}

@media screen and (min-width: 319px) and (max-width: 409px) {
  .ilustradores figure {
    width: 98%;
  }
}

@media screen and (min-width: 410px) and (max-width: 766px) {
  .ilustradores figure {
    width: 98%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .ilustradores figure {
    width: 38%;
  }
}

.detalle-producto {
  padding-right: 2rem;
  padding-left: 2rem;
}

.detalle-producto > figure {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.detalle-producto > figure > h3 {
  color: #3a3232;
  line-height: 1.8;
  font-size: 120%;
  font-family: "Josefin Slab", serif;
}

.detalle-producto > figure > img {
  width: 26rem;
}

.detalle-producto > figure > img:hover {
  cursor: -webkit-zoom-in;
}

.disponibles {
  height: 640px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow: hidden;
}

.listado-modelos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  border-style: solid;
  background-color: white;
  border-color: #f3f3f3;
}

.listado-modelos img {
  width: 70px;
  margin: 1rem;
  padding: 1rem;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.listado-modelos img:hover {
  background-color: rgba(197, 197, 197, 0.2);
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  border-radius: 10px;
}

.listado-modelos a {
  background-color: white;
}

.listado-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 45vw;
  list-style: none;
  height: 620px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow: hidden;
  overflow-y: scroll;
  background-color: white;
  border-left-style: solid;
  border-left-color: #f3f3f3;
  border-left-width: 2px;
}

.listado-productos img {
  border: #f3f3f3 solid;
  width: 240px;
  height: 240px;
  margin: 1rem;
}

.noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.noticias > figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0.7rem;
  -webkit-animation: slideInUp 1s 0.2s ease-in;
          animation: slideInUp 1s 0.2s ease-in;
}

.noticias > figure > img {
  border: #f3f3f3 solid;
  margin: 1rem;
  display: inline-block;
  width: 25%;
}

.noticias > figure > p {
  color: #0099ff;
  font-family: "Josefin Sans", sans-serif;
  line-height: 2;
  font-size: large;
  display: inline-block;
  position: relative;
  width: 50%;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.suscribe {
  color: #3a3232;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1.8rem;
  margin-left: 1rem;
  line-height: 2;
  font-size: large;
  margin-bottom: 3rem;
}

.suscribe h3 {
  color: #0099ff;
}

.suscribe input {
  background-color: azure;
  padding: 0.4rem;
  margin-left: 1rem;
}

.suscribe input:hover {
  background-color: #69d2e7;
}

.usuario > img {
  border: #a7dbd8 ridge 3px;
  width: 150px;
  height: 150px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
  font-size: large;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: azure;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.proceso-de-compra {
  background-color: azure;
  border-radius: 30px;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
}

.proceso-de-compra form {
  padding: 1rem;
}

.proceso-de-compra input {
  background-color: azure;
  padding: 0.4rem;
  margin-left: 1rem;
}

.proceso-de-compra input:hover {
  background-color: #69d2e7;
}

.proceso-de-compra h3 {
  background-color: rgba(0, 0, 0, 0.1);
}

.proceso-de-compra.paso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #3a3232;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.8;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: auto auto 0;
  width: 300px;
  max-width: calc(100% - 30px);
}

.bar-input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.container-eventos {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  color: #3a3232;
}

.puntos-venta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.puntos-venta > section {
  margin: 2rem;
  padding: 3rem;
  text-align: left;
  width: 98%;
}

.puntos-venta h3 {
  color: #3a3232;
  line-height: 1.8;
  font-size: 120%;
  font-family: "Josefin Slab", serif;
}

.puntos-venta ul {
  font-family: "Josefin Sans", sans-serif;
  color: #3a3232;
  list-style-image: url("../../assets/tools/ubicacion.png");
}

@media screen and (min-width: 319px) and (max-width: 409px) {
  .puntos-venta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .puntos-venta > section {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 410px) and (max-width: 766px) {
  .puntos-venta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .puntos-venta > section {
    margin: 0;
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */