@media screen and (min-width: 319px) {
  .container {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 359px) {
  container {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 374px) {
  .container {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 410px) {
  .container, .container-footer {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 576px) {
  .container, .container-footer {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container, .container-footer {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 992px) {
  .container, .container-footer {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container, .container-footer {
    max-width: 100%;
    margin: auto;
  }
}

#tienda-grid {
  vertical-align: baseline;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo" "descripcion" "productos" "gallery" "suscribe";
  -ms-grid-rows: 80px 80px 420px 680px  630px;
      grid-template-rows: 80px 80px 420px 680px  630px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#tienda-grid > h2.seccion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
}

#tienda-grid > #productos-button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: productos;
}

#tienda-grid > section.slidegallery {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: gallery;
}

#tienda-grid > #descripcion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: descripcion;
}

#tienda-grid > aside.suscribe.wow.fadeInUp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: suscribe;
}

#main-contacto-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "seccion" "contacto" "suscribe";
  -ms-grid-rows: 80px 780px 640px;
      grid-template-rows: 80px 780px 640px;
  -ms-grid-columns: 98%;
      grid-template-columns: 98%;
  grid-column-gap: 5px;
  grid-row-gap: 15px;
}

#main-contacto-grid h2.seccion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: seccion;
}

#main-contacto-grid section.form-contacto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contacto;
}

#main-contacto-grid aside.suscribe {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: suscribe;
}

#vertodo-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo titulo" "detalle disponible" "sugerencia sugerencia";
  -ms-grid-rows: 80px 660px 400px;
      grid-template-rows: 80px 660px 400px;
  -ms-grid-columns: 56% 42%;
      grid-template-columns: 56% 42%;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

#vertodo-grid h2.seccion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
}

#vertodo-grid section.detalle-producto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: detalle;
}

#vertodo-grid section.productos-disponibles {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: disponible;
}

#vertodo-grid #sugerencias {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: sugerencia;
}

#usuario-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo titulo" "nombre-usuario nombre-usuario" "card-usuario tab-usuario" "carrito proceso-compra";
  -ms-grid-rows: 80px 80px 350px 320px;
      grid-template-rows: 80px 80px 350px 320px;
  -ms-grid-columns: 36% 58%;
      grid-template-columns: 36% 58%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#usuario-grid h2.seccion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
}

#usuario-grid h3.name-usuario {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nombre-usuario;
}

#usuario-grid figure.usuario {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: card-usuario;
}

#usuario-grid article.tab-usuario {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: tab-usuario;
}

#usuario-grid > #carrito {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: carrito;
}

#usuario-grid aside.proceso-de-compra {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: proceso-compra;
}

@media screen and (min-width: 319px) and (max-width: 409px) {
  #tienda-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "descripcion" "productos" "gallery" "suscribe";
    -ms-grid-rows: 80px 160px 660px 280px 820px;
        grid-template-rows: 80px 160px 660px 280px 820px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #tienda-grid p.introduccion {
    margin: 0;
  }
  #main-contacto-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "seccion" "contacto" "suscribe";
    -ms-grid-rows: 80px 1100px 820px;
        grid-template-rows: 80px 1100px 820px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
  #main-contacto-grid textarea {
    width: 100%;
  }
  #vertodo-grid {
        grid-template-areas: "titulo" "detalle" "disponible" "sugerencia";
    -ms-grid-rows: 80px 400px 660px 400px;
        grid-template-rows: 80px 400px 660px 400px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
  #usuario-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra";
    -ms-grid-rows: 80px 80px 200px 400px 300px 320px;
        grid-template-rows: 80px 80px 200px 400px 300px 320px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
}

@media screen and (min-width: 410px) and (max-width: 766px) {
  #tienda-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "descripcion" "productos" "gallery" "suscribe";
    -ms-grid-rows: 80px 180px 690px 280px 820px;
        grid-template-rows: 80px 180px 690px 280px 820px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #main-contacto-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "seccion" "contacto" "suscribe";
    -ms-grid-rows: 80px 1100px 780px;
        grid-template-rows: 80px 1100px 780px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
  #main-contacto-grid textarea {
    width: 100%;
  }
  #usuario-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra";
    -ms-grid-rows: 80px 80px 200px 400px 300px 320px;
        grid-template-rows: 80px 80px 200px 400px 300px 320px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
  #vertodo-grid {
        grid-template-areas: "titulo" "detalle" "disponible" "sugerencia";
    -ms-grid-rows: 80px 460px 620px 400px;
        grid-template-rows: 80px 460px 620px 400px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  #tienda-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "descripcion" "productos" "gallery" "suscribe";
    -ms-grid-rows: 60px 100px 220px 430px 620px;
        grid-template-rows: 60px 100px 220px 430px 620px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #tienda-grid .productosSeleccion .button-tienda {
    padding: 0.28em 0.42em 0.13em;
  }
  #main-contacto-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "seccion" "contacto" "suscribe";
    -ms-grid-rows: 80px 780px 600px;
        grid-template-rows: 80px 780px 600px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
  #usuario-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra";
    -ms-grid-rows: 80px 80px 200px 400px 300px 320px;
        grid-template-rows: 80px 80px 200px 400px 300px 320px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
}

@media screen and (min-width: 1024px) {
  #tienda-grid {
        grid-template-areas: "titulo" "descripcion" "productos" "gallery" "suscribe";
    -ms-grid-rows: 80px 80px 420px 680px  630px;
        grid-template-rows: 80px 80px 420px 680px  630px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .detalle-producto {
    padding: 0.2rem;
  }
  .detalle-producto figure img {
    width: 75%;
  }
  .listado-modelos {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .listado-modelos a img {
    width: 100%;
  }
  #main-contacto-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "seccion" "contacto" "suscribe";
    -ms-grid-rows: 80px 760px 600px;
        grid-template-rows: 80px 760px 600px;
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
  }
}

header {
  margin: 0 !important;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.top {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top > div {
  width: 40%;
  padding: 0;
}

.top > div > div {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: lightSpeedIn 8s ease-in-out;
          animation: lightSpeedIn 8s ease-in-out;
  display: inline-block;
}

.top p {
  margin: 0;
  padding: 0;
}

.top a {
  font-family: "Josefin Slab", serif;
  font-size: 14px;
  text-decoration: none;
  color: blueviolet;
}

.iniciarSesion {
  background-color: black;
  padding: 0;
  display: inline-block;
  margin: 00;
  border: ridge black;
}

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
            transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
            transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
          animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 12em;
}

.logo img {
  display: block;
  width: auto;
}

.topnav {
  overflow: hidden;
}

.topnav * {
  color: #3a3232;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
}

.topnav .icon {
  display: none;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #2098d1;
  color: azure;
}

.topnav a.logo {
  padding: 2px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown.active {
  background-color: #2098d1;
  color: azure;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #3a3232;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #3a3232;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover {
  background-color: #2098d1;
  color: azure;
}

.dropdown:hover .dropbtn {
  background-color: #2098d1;
  color: azure;
}

.dropdown-content a:hover {
  background-color: azure;
  color: #3a3232;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

/**/
@media screen and (max-width: 730px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .dropdown .dropbtn {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
}

footer {
  background-color: #cff2f6;
}

.container-footer {
  width: 98%;
}

.info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.informacion-sitio {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.informacion-sitio > ul > li {
  color: #3a3232;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.7rem;
}

.informacion-sitio > ul > li:hover {
  background-color: #f7f5f6;
}

.informacion-sitio > ul > li:first-child {
  font-size: 26px;
}

.informacion-sitio ul {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.ayuda-sitio {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ayuda-sitio > ul > li {
  color: #3a3232;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.7rem;
}

.ayuda-sitio > ul > li:hover {
  background-color: #f7f5f6;
}

.ayuda-sitio > ul > li:first-child {
  font-size: 26px;
}

.ayuda-sitio ul {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#informacion {
  cursor: pointer;
}

#informacion li:first-child {
  cursor: default;
}

#ayuda {
  cursor: help;
}

#ayuda li:first-child {
  cursor: default;
}

.contacto {
  margin: 0;
  padding: 0;
  font-family: "Josefin Slab",serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacto > ul {
  margin: 0;
  padding-top: 0 !important;
  padding-bottom: 0% !important;
}

.contacto > ul > li {
  color: #3a3232;
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.7rem;
  cursor: default;
}

.contacto > ul > li img {
  width: 20px;
}

.contacto > ul > li:hover {
  background-color: #f7f5f6;
}

.contacto > ul > li:first-child {
  font-size: 26px;
  font-weight: 900;
}

.copyright-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.8;
}

.copyright-redes > h4 {
  color: #3a3232;
  display: inline-block;
  padding: 0;
  font-family: "Josefin Slab",serif;
}

.copyright-redes > ul {
  padding: 0;
  display: inline-block;
  margin: 0;
}

.copyright-redes > ul > li {
  list-style: none;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 1rem;
  vertical-align: middle;
}

.copyright-redes > ul > li > a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.copyright-redes > ul > li > a img {
  width: 2em;
}

@media all and (min-width: 319px) and (max-width: 767px) {
  .info-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: columns;
            flex-flow: columns;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  vertical-align: baseline;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

a {
  font-size: 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  margin: auto;
  margin-bottom: 3rem;
  width: 84%;
  height: 100%;
}

.seccion {
  color: #69d2e7;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 1.3rem;
  display: block;
}

.welcome {
  width: 94%;
}

.productos-gallery* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.productos-gallery .active {
  background-color: #717171;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
  .productos-gallery {
    width: 100%;
  }
}

.cartel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartel-container h1 {
  color: #0099ff;
  font-family: "Amatic SC", cursive;
  font-size: 400%;
}

.intro {
  color: #3a3232;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
  text-align: center;
}

.intro p span {
  display: block;
}

.borde-radio {
  border-radius: 15px 50px;
  padding: 1rem;
  margin: 1rem;
}

.blueGreen {
  background: #74ebd5;
  background: -webkit-gradient(linear, left top, right top, from(#ACB6E5), to(#74ebd5));
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
}

.yellowPink {
  background: #d9a7c7;
  background: -webkit-gradient(linear, left top, right top, from(#fffcdc), to(#d9a7c7));
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
}

.colorsOfSky {
  background: #E0EAFC;
  background: -webkit-gradient(linear, left top, right top, from(#CFDEF3), to(#E0EAFC));
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
}

.atlas {
  background: #FEAC5E;
  background: -webkit-gradient(linear, left top, right top, from(#4BC0C8), color-stop(#C779D0), to(#FEAC5E));
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
}

.megatron {
  background: #C6FFDD;
  background: -webkit-gradient(linear, left top, right top, from(#f7797d), color-stop(#FBD786), to(#C6FFDD));
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
}

.azureLane {
  background: #7F7FD5;
  background: -webkit-gradient(linear, left top, right top, from(#91EAE4), color-stop(#a6b6d4), to(#9f9fe6));
  background: linear-gradient(to right, #91EAE4, #a6b6d4, #9f9fe6);
}

.relaxinRed {
  background: #fffbd5;
  background: -webkit-gradient(linear, left top, right top, from(#b20a2c), to(#fffbd5));
  background: linear-gradient(to right, #b20a2c, #fffbd5);
}

.ir-tienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
}

.button-tienda {
  display: inline-block;
  text-align: center;
  background: #eee;
  color: #3a3232;
  font-weight: bold;
  padding: 1.18em 1.32em 1.03em;
  border-radius: 1em;
  min-width: 8.23em;
  text-decoration: none;
}

.boton-inicio {
  position: -webkit-sticky;
  position: sticky;
  top: 490px;
  display: inline-block;
  left: 90%;
  z-index: 3;
}

.productosSeleccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.productosSeleccion * {
  -webkit-animation: fadeInUp 2s 0.2s ease-in;
          animation: fadeInUp 2s 0.2s ease-in;
  margin: 2%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.introduccion {
  color: #3a3232;
  line-height: 1.8;
  font-size: 120%;
  font-family: "Josefin Slab", serif;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: 600;
}

.slidegallery* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slidegallery .active {
  background-color: #717171;
}

.slidegallery h2 {
  text-align: center;
  line-height: 2;
}

.compras {
  background-color: #FEFCFD;
  color: #3a3232;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.8;
  display: inline-block;
  border-style: solid;
  border-color: #f3f3f3;
  border-width: 2px;
  border-radius: 20px;
  padding: 0.5rem;
  -webkit-animation: fadeInLeft 2s 0.2s ease-in;
          animation: fadeInLeft 2s 0.2s ease-in;
  z-index: 2;
}

.compras label {
  display: block;
  padding: 0.2rem;
}

.compras input {
  background-color: azure;
  padding: 0.4rem;
  margin-left: 1rem;
  width: 7rem;
}

.compras input:hover {
  background-color: #69d2e7;
}

.ilustradores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  width: 100%;
}

.ilustradores figure {
  width: 25%;
}

.ilustradores img {
  border-radius: 100%;
  border-style: groove;
  border-bottom-color: darksalmon;
  border-left-color: #ff7300;
  border-top-color: #ff0062;
  border-right-color: #ff2600;
  width: 10rem;
}

.ilustradores img:hover {
  border-style: dashed;
}

.ilustradores p {
  color: #3a3232;
  font-family: "Josefin Slab", serif;
  font-weight: bolder;
  line-height: 1.5;
  font-size: large;
}

.ilustradores h3 {
  color: #0099ff;
  font-family: "Josefin Sans", sans-serif;
  line-height: 2;
  font-size: large;
}

@media screen and (min-width: 319px) and (max-width: 409px) {
  .ilustradores figure {
    width: 100%;
    margin: 2%;
  }
  .ilustradores figure p {
    width: 100 .ilustradores figure p;
  }
}

@media screen and (min-width: 410px) and (max-width: 766px) {
  .ilustradores figure {
    width: 100%;
    margin: 2%;
  }
  .ilustradores figure p {
    margin: 0;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .ilustradores figure {
    width: 50%;
    margin: 0;
  }
  .ilustradores figure p {
    margin: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .ilustradores figure {
    width: 50%;
    margin: 0;
  }
  .ilustradores figure p {
    margin: 5%;
  }
}

.detalle-producto h3 {
  color: #3a3232;
  line-height: 1.8;
  font-size: 120%;
  font-family: "Josefin Slab", serif;
}

.detalle-producto figure {
  background-color: #ffffff8c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

.detalle-producto figure > img {
  width: 90%;
}

.detalle-producto figure > img:hover {
  cursor: -webkit-zoom-in;
}

.productos-disponibles {
  display: inline-block;
  height: 560px;
  width: 280px;
}

.productos-disponibles ul {
  padding: 2px;
  margin: 0;
}

.productos-disponibles ul li {
  list-style: none;
}

.listado-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  list-style: none;
  height: 480px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: white;
  border-left-style: solid;
  border-left-color: #f3f3f3;
  border-left-width: 2px;
}

.listado-productos img {
  border: #f3f3f3 solid;
  width: 240px;
  height: 240px;
  margin: 1rem;
}

#sugerencias {
  background-color: #FEFCFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  height: 380px;
  width: 100%;
  padding: 0.2rem;
}

#sugerencias ul {
  overflow: hidden;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0.5rem;
}

#sugerencias ul > li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  margin: 0.2rem;
  padding: 0.3rem;
  background-color: rgba(197, 197, 197, 0.2);
}

#sugerencias ul > li > div {
  width: 145px;
  height: 260px;
}

#sugerencias ul > li > div p.nombre-producto {
  font-family: "Josefin Sans", sans-serif;
}

#sugerencias ul > li > div > div {
  width: 145px;
  background-color: rgba(243, 252, 253, 0.658);
}

#sugerencias ul > li > div > div img {
  width: 140px;
}

.boton_personalizado {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  position: relative;
  padding: 10px;
  color: #ffffff;
  background-color: #ff782a;
  border-radius: 4px;
  border: 2px solid #fa7b6a;
}

.form-contacto {
  color: #3a3232;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.7;
  font-size: large;
}

.form-contacto form label, .form-contacto form input {
  display: inline-block;
  padding: 6px;
}

.form-contacto form label.etiqueta, .form-contacto form input.etiqueta {
  width: 140px;
}

.form-contacto form label.check, .form-contacto form input.check {
  display: inline;
}

.form-contacto form #submit {
  display: inherit;
}

.suscribe {
  color: #3a3232;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1.8rem;
  margin-left: 1rem;
  line-height: 2;
  font-size: large;
  margin-bottom: 3rem;
}

.suscribe h3 {
  color: #0099ff;
}

.suscribe input {
  background-color: azure;
  padding: 0.4rem;
  margin-left: 1rem;
}

.suscribe input:hover {
  background-color: #69d2e7;
}

.usuario > img {
  border: #a7dbd8 ridge 3px;
  width: 150px;
  height: 150px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
  font-size: large;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: azure;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.proceso-de-compra {
  background-color: azure;
  border-radius: 30px;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
}

.proceso-de-compra form {
  padding: 1rem;
}

.proceso-de-compra input {
  background-color: azure;
  padding: 0.4rem;
  margin-left: 1rem;
}

.proceso-de-compra input:hover {
  background-color: #69d2e7;
}

.proceso-de-compra h3 {
  background-color: rgba(0, 0, 0, 0.1);
}

.proceso-de-compra.paso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #3a3232;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.8;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: auto auto 0;
  width: 300px;
  max-width: calc(100% - 30px);
}

.bar-input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.container-eventos {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container-eventos iframe {
  width: 80%;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  color: #3a3232;
}

.puntos-venta {
  height: 100%;
  width: 100%;
  margin: 0;
}

.ubicaciones {
  width: 100%;
}

#map-arg, #map-otros {
  height: 500px;
}

.ubicaciones h3 {
  color: #3a3232;
  line-height: 1.8;
  font-size: 120%;
  font-family: "Josefin Slab", serif;
}
/*# sourceMappingURL=main.css.map */