.compras {
    color: rgb(58,50,50);
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.8;
    display: inline-block;
    border-style: solid;
    border-color: rgb(243, 243, 243);
    border-width: 2px;
    border-radius: 20px;
    padding: 0.5rem;
    animation: fadeInLeft 2s  0.2s  ease-in;
    z-index: 2;
  }
  .compras label{
    display:block;
    padding: 0.2rem;
  }
  .compras input{
    background-color:azure;
    padding: 0.4rem;
    margin-left: 1rem;
    width: 7rem;
  
  }
  .compras input:hover{
    background-color: rgb(105, 210, 231);
  }