/*ilustradores html*/
.ilustradores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
  }
  .ilustradores figure{
    width: 25vw;
  
  }
  .ilustradores img{
    border-radius: 100%;
    border-style: groove;
    border-bottom-color: darksalmon;
    border-left-color: rgb(255, 115, 0);
    border-top-color: rgb(255, 0, 98);
    border-right-color: rgb(255, 38, 0);
    width: 10rem;
  }
  .ilustradores img:hover{
    border-style: dashed;
  }
  .ilustradores p{
    color: rgb(58, 50, 50);
    font-family: "Josefin Slab", serif;
    font-weight: bolder;
    line-height: 1.5;
    font-size: large;
  }
  .ilustradores h3{
    color: rgb(0, 153, 255);
    font-family: "Josefin Sans", sans-serif;
    line-height: 2;
    font-size: large;
  }
  /*fin ilustradores*/
  