/* line 1, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
#usuario-grid {
  display: grid;
  grid-template-areas: "titulo titulo" "nombre-usuario tab-usuario" "card-usuario tab-usuario" "carrito proceso-compra";
  grid-template-rows: 60px 60px 300px 300px;
  grid-template-columns: 36vw 58vw;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-content: center;
}

/* line 14, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
#usuario-grid > h2.seccion {
  grid-area: titulo;
}

/* line 17, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
#usuario-grid > .name-usuario {
  grid-area: nombre-usuario;
}

/* line 20, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
#usuario-grid > .usuario {
  grid-area: card-usuario;
}

/* line 23, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
#usuario-grid > .tab-usuario {
  grid-area: tab-usuario;
}

/* line 26, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
#usuario-grid > #carrito {
  grid-area: carrito;
}

/* line 29, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
#usuario-grid > .proceso-de-compra {
  grid-area: proceso-compra;
}

/* line 34, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.usuario > img {
  border: #a7dbd8 ridge 3px;
  width: 150px;
  height: 150px;
}

/* Style the tab */
/* line 41, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
  font-size: large;
}

/* Style the buttons that are used to open the tab content */
/* line 51, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
/* line 63, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
/* line 68, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
/* line 73, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*fin tab usuario*/
/*Proceso de COMPRA*/
/* line 83, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.proceso-de-compra {
  background-color: azure;
  border-radius: 30px;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
}

/* line 90, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.proceso-de-compra form {
  padding: 1rem;
}

/* line 93, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.proceso-de-compra input {
  background-color: azure;
  padding: 0.4rem;
  margin-left: 1rem;
}

/* line 98, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.proceso-de-compra h3 {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 102, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.proceso-de-compra input:hover {
  background-color: #69d2e7;
}

/* line 105, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.proceso-de-compra .paso {
  display: flex;
  flex-flow: column;
  color: #3a3232;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.8;
}

/*!Progress Bar*/
/* line 113, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar {
  display: flex;
  flex-direction: row-reverse;
  margin: auto auto 0;
  width: 300px;
  max-width: calc(100% - 30px);
}

/* line 120, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 127, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view:nth-child(10):after {
  transition-delay: -0.05s;
}

/* line 130, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view:nth-child(10) .bar-button:before {
  transition-delay: 0.01s;
}

/* line 133, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view:nth-child(8):after {
  transition-delay: 0.05s;
}

/* line 136, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view:nth-child(8) .bar-button:before {
  transition-delay: 0.11s;
}

/* line 139, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view:nth-child(6):after {
  transition-delay: 0.15s;
}

/* line 142, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view:nth-child(6) .bar-button:before {
  transition-delay: 0.21s;
}

/* line 145, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view:nth-child(4):after {
  transition-delay: 0.25s;
}

/* line 148, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view:nth-child(4) .bar-button:before {
  transition-delay: 0.31s;
}

/* line 151, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view:nth-child(2):after {
  transition-delay: 0.35s;
}

/* line 154, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view:nth-child(2) .bar-button:before {
  transition-delay: 0.41s;
}

/* line 157, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* line 161, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked ~ .bar-view .bar-button:before {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

/* line 166, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-input:checked + .bar-view .bar-button:after {
  opacity: 1;
  -webkit-animation: bouncing 0.6s cubic-bezier(0, 0, 0.74, 1.04) infinite;
  animation: bouncing 0.6s cubic-bezier(0, 0, 0.74, 1.04) infinite;
}

/* line 171, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view {
  display: flex;
  flex-grow: 1;
  position: relative;
}

/* line 176, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:after {
  height: 2px;
  top: calc(50% - 1px);
  transition: -webkit-transform 0.06s cubic-bezier(0, 0.72, 0.58, 1);
  transition: transform 0.06s cubic-bezier(0, 0.72, 0.58, 1);
  transition: transform 0.06s cubic-bezier(0, 0.72, 0.58, 1), -webkit-transform 0.06s cubic-bezier(0, 0.72, 0.58, 1);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background: #FFB732;
  -webkit-transform-origin: left;
  transform-origin: left;
  z-index: 1;
}

/* line 189, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):before, .bar-view:not(:last-child):after {
  content: "";
  width: calc(100% - 24px);
  position: absolute;
  right: calc(50% + 12px);
}

/* line 195, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):before {
  height: 6px;
  top: calc(50% - 3px);
  background: #3C6997;
}

/* line 200, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):nth-child(2):after {
  transition-delay: 0s;
}

/* line 203, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):nth-child(2) .bar-button:before {
  transition-delay: 0.06s;
}

/* line 206, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):nth-child(4):after {
  transition-delay: 0.1s;
}

/* line 209, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):nth-child(4) .bar-button:before {
  transition-delay: 0.16s;
}

/* line 212, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):nth-child(6):after {
  transition-delay: 0.2s;
}

/* line 215, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):nth-child(6) .bar-button:before {
  transition-delay: 0.26s;
}

/* line 218, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):nth-child(8):after {
  transition-delay: 0.3s;
}

/* line 221, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):nth-child(8) .bar-button:before {
  transition-delay: 0.36s;
}

/* line 224, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):nth-child(10):after {
  transition-delay: 0.4s;
}

/* line 227, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-view:not(:last-child):nth-child(10) .bar-button:before {
  transition-delay: 0.46s;
}

/* line 230, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-button {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #3C6997;
  position: relative;
  cursor: pointer;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3), 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* line 241, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-button:hover:after {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

/* line 246, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-button:before, .bar-button:after {
  content: "";
  position: absolute;
  pointer-events: none;
}

/* line 251, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-button:before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at center, #FFDD4A, #FE9000);
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0.72, 0.58, 1);
}

/* line 265, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
.bar-button:after {
  border: 8px solid transparent;
  border-top-color: #5ADBFF;
  bottom: calc(100% + 10px);
  left: calc(50% - 8px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1.97);
}

/* line 280, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
* {
  box-sizing: border-box;
}

/* line 283, ../proyecto/ilustraciones/styles-sass/sass/usuario.scss */
*:before, *:after {
  box-sizing: inherit;
}

@-webkit-keyframes bouncing {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes bouncing {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@-webkit-keyframes fade {
  50% {
    opacity: 0.3;
  }
}

@keyframes fade {
  50% {
    opacity: 0.3;
  }
}

/*# sourceMappingURL=usuario.css.map */