
#div-index-grid {
    display: grid;
    grid-template-areas: "titulo titulo titulo"
        "ilustradores gallery descripcion"
        "autor autor autor"
        "sugerencias sugerencias sugerencias"
        "compra p-descripcion p-descripcion "
        "carrito carrito carrito"
        "suscribe suscribe suscribe"
    ;
    grid-template-rows: 60px 400px 480px 400px 450px 240px 630px;
    grid-template-columns: 28vw 30vw 36vw;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-content: center;

    &.seccion {
        grid-area: titulo;
    }

    #ilustradores {
        grid-area: ilustradores;
    }

    &.slideGallery {
        grid-area: gallery;
    }

    #descripcion {
        grid-area: descripcion;
    }

    &.autor {
        grid-area: autor;
    }

    #sugerencias {
        grid-area: sugerencias;
    }

    #producto-compra {
        grid-area: compra;
    }

    &.producto-descripcion {
        grid-area: p-descripcion;
    }

    #carrito {
        grid-area: carrito;
    }

    &.suscribe.wow.fadeInUp {
        grid-area: suscribe;
    }
}

/*grid noticias html*/
#main-noticias-grid {
    display: grid;
    grid-template-areas:
        "seccion "
        "noticias"
        "suscribe"
    ;
    grid-template-rows: 25px 700px 700px;
    grid-template-columns: 96vw;
    grid-column-gap: 5px;
    grid-row-gap: 15px;

    h2.seccion {
        grid-area: seccion;
    }

    .noticias {
        grid-area: noticias;
    }

    aside.suscribe {
        grid-area: suscribe;
    }
}

/*grid ver-todo html*/
#main-vertodo-grid {
    width: 97vw;
    display: grid;
    grid-template-areas:
        "seccion seccion"
        "detalle disponible"
        "compra p-descripcion "
        "carrito carrito"
    ;
    grid-template-rows: 60px 660px 450px 240px;
    grid-template-columns: 40vw 56vw;
    grid-column-gap: 15px;
    grid-row-gap: 10px;

    h2.seccion {
        grid-area: seccion;
    }

    section.detalle-producto {
        grid-area: detalle;
    }

    section.disponibles {
        grid-area: disponible;
    }

    #producto-compra {
        grid-area: compra;
    }

    .producto-descripcion {
        grid-area: p-descripcion;
    }

    #carrito {
        grid-area: carrito;
    }
}