@media screen and ( min-width: 319px ) and ( max-width: 409px )
    #div-index-grid
        display: grid
        grid-template-areas: "titulo" "descripcion" "ilustradores" "gallery" "titulo-autor""autor-redes" "autor-video" "autor-biografia" "titulo-diseno" "compra"  "sugerencias" "carrito" "suscribe"
        grid-template-rows: 80px 340px 340px 300px 80px 220px 200px 380px 80px 260px 400px 280px 760px
        grid-template-columns: 98%
        align-content: center
        >div
            &.producto-descripcion
                display: none
    #main-noticias-grid
        display: grid
        grid-template-areas: "seccion" "noticias" "suscribe"
        grid-template-rows: 80px 2410px 780px
        grid-template-columns: 98%
        figure
            flex-flow: column
            justify-content: center
            img
                width: 50%
            p
                width: 98%
    #vertodo-grid
        display: grid
        grid-template-areas: "titulo" "detalle" "disponible" "compra" "carrito"
        grid-template-rows: 100px 420px 400px 450px 240px
        grid-template-columns: 98%
        >div
            &.producto-descripcion
                display: none
        .detalle-producto
            figure
                img
                    width: 100%
        .listado-modelos
            width: 98%
            display: flex
            flex-flow: row
            overflow: hidden
            overflow-x: scroll
            justify-content: space-between
            a
                img
                    width: 100%
        .disponibles
            width: 99.9%
            height: 360px
        .listado-productos
            display: flex
            flex-flow: row
            overflow: hidden
            overflow-x: scroll
            width: 98%
    #usuario-grid
        display: grid
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra"
        grid-template-rows: 80px 80px 200px 400px 300px 320px
        grid-template-columns: 98%

@media screen and ( min-width: 410px ) and ( max-width: 766px )
    #div-index-grid
        display: grid
        grid-template-areas: "titulo" "descripcion" "ilustradores" "gallery" "titulo-autor""autor-redes" "autor-video" "autor-biografia" "titulo-diseno" "compra"  "sugerencias" "carrito" "suscribe"
        grid-template-rows: 80px 340px 340px 300px 80px 220px 200px 380px 80px 260px 400px 280px 740px
        grid-template-columns: 98%
        align-content: center
        >div
            &.producto-descripcion
                display: none
    #main-noticias-grid
        display: grid
        grid-template-areas: "seccion" "noticias" "suscribe"
        grid-template-rows: 80px 2600px 780px
        grid-template-columns: 98%
        figure
            flex-flow: column
            justify-content: center
            img
                width: 75%
            p
                width: 98%
    #vertodo-grid
        display: grid
        grid-template-areas: "titulo" "detalle" "disponible" "compra" "carrito"
        grid-template-rows: 80px 460px 380px 430px 260px
        grid-template-columns: 98%
        >div
            &.producto-descripcion
                display: none
        .detalle-producto
            figure
                img
                    width: 100%
        .listado-modelos
            width: 98%
            display: flex
            flex-flow: row
            overflow: hidden
            overflow-x: scroll
            justify-content: space-between
            a
                img
                    width: 100%
        .disponibles
            width: 99.9%
            height: 360px
        .listado-productos
            display: flex
            flex-flow: row
            overflow: hidden
            overflow-x: scroll
            width: 98%
    #usuario-grid
        display: grid
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra"
        grid-template-rows: 80px 80px 200px 400px 300px 320px
        grid-template-columns: 98%

@media screen and ( min-width: 767px ) and ( max-width: 1023px )
    #div-index-grid
        display: grid
        grid-template-areas: "titulo titulo" "descripcion descripcion" "ilustradores gallery" "titulo-autor titulo-autor" "autor-redes autor-video" "autor-biografia autor-biografia" "titulo-diseno titulo-diseno" "compra sugerencias" "carrito carrito" "suscribe suscribe"
        grid-template-rows: 80px 200px 340px 80px 220px 200px 80px 360px 260px 680px
        grid-template-columns: 42% 56%
        grid-column-gap: 5px
        grid-row-gap: 10px
        align-content: center
        >div
            &.producto-descripcion
                display: none
    #main-noticias-grid
        display: grid
        grid-template-areas: "seccion" "noticias" "suscribe"
        grid-template-rows: 80px 1420px 600px
        grid-template-columns: 98%
        figure
            >img
                width: 40%
    #vertodo-grid
        display: grid
        grid-template-areas: "titulo titulo" "detalle disponible" "compra carrito"
        grid-template-rows: 80px 450px 380px
        >div
            &.producto-descripcion
                display: none
        .detalle-producto
            padding: 0.2rem
            figure
                img
                    width: 75%
        .listado-modelos
            width: 90%
            display: flex
            flex-flow: row
            overflow: hidden
            overflow-x: scroll
            justify-content: space-between
            a
                img
                    width: 100%
        .disponibles
            width: 98%
            height: 360px
        .listado-productos
            display: flex
            flex-flow: row
            overflow: hidden
            overflow-x: scroll
            width: 98%
        #producto-compra
            display: block
    #usuario-grid
        display: grid
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra"
        grid-template-rows: 80px 80px 200px 400px 300px 320px
        grid-template-columns: 98%

@media screen and ( min-width: 1024px )
    .detalle-producto
        padding: 0.2rem
        figure
            img
                width: 75%
    .listado-modelos
        width: 90%
        display: flex
        flex-flow: row
        overflow: hidden
        overflow-x: scroll
        justify-content: space-between
        a
            img
                width: 100%
