#tienda-grid
    vertical-align: baseline
    display: grid
    grid-template-areas: "titulo" "descripcion" "productos" "gallery" "suscribe"
    grid-template-rows: 80px 80px 420px 680px  630px
    grid-template-columns: 100%
    grid-column-gap: 10px
    grid-row-gap: 10px
    align-content: center
    >h2
        &.seccion
            grid-area: titulo
    >#productos-button
        grid-area: productos
    >section
        &.slidegallery
            grid-area: gallery
    >#descripcion
        grid-area: descripcion
    >aside
        &.suscribe.wow.fadeInUp
            grid-area: suscribe

#main-contacto-grid
    display: grid
    grid-template-areas: "seccion" "contacto" "suscribe"
    grid-template-rows: 80px 780px 640px
    grid-template-columns: 98%
    grid-column-gap: 5px
    grid-row-gap: 15px
    h2
        &.seccion
            grid-area: seccion
    section
        &.form-contacto
            grid-area: contacto
    aside
        &.suscribe
            grid-area: suscribe

#vertodo-grid
    display: grid
    grid-template-areas: "titulo titulo" "detalle disponible" "sugerencia sugerencia"
    grid-template-rows: 80px 660px 400px
    grid-template-columns: 56% 42%
    grid-column-gap: 15px
    grid-row-gap: 10px
    h2
        &.seccion
            grid-area: titulo
    section
        &.detalle-producto
            grid-area: detalle
    section
        &.productos-disponibles
            grid-area: disponible
    #sugerencias
        grid-area: sugerencia

#usuario-grid
    display: grid
    grid-template-areas: "titulo titulo" "nombre-usuario nombre-usuario" "card-usuario tab-usuario" "carrito proceso-compra"
    grid-template-rows: 80px 80px 350px 320px
    grid-template-columns: 36% 58%
    grid-column-gap: 10px
    grid-row-gap: 10px
    align-content: center
    h2
        &.seccion
            grid-area: titulo
    h3
        &.name-usuario
            grid-area: nombre-usuario
    figure
        &.usuario
            grid-area: card-usuario
    article
        &.tab-usuario
            grid-area: tab-usuario
    >#carrito
        grid-area: carrito
    aside
        &.proceso-de-compra
            grid-area: proceso-compra
