@media screen and ( min-width: 319px ) and ( max-width: 409px )
    #tienda-grid
        display: grid
        grid-template-areas: "titulo" "descripcion" "productos" "gallery" "suscribe"
        grid-template-rows: 80px 160px 660px 280px 820px
        grid-template-columns: 100%
        align-content: center
        p
            &.introduccion
                margin: 0
    #main-contacto-grid
        display: grid
        grid-template-areas: "seccion" "contacto" "suscribe"
        grid-template-rows: 80px 1100px 820px
        grid-template-columns: 98%
        textarea
            width: 100%
    #vertodo-grid
        grid-template-areas: "titulo" "detalle" "disponible" "sugerencia"
        grid-template-rows: 80px 400px 660px 400px
        grid-template-columns: 98%
    #usuario-grid
        display: grid
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra"
        grid-template-rows: 80px 80px 200px 400px 300px 320px
        grid-template-columns: 98%

@media screen and ( min-width: 410px ) and ( max-width: 766px )
    #tienda-grid
        display: grid
        grid-template-areas: "titulo" "descripcion" "productos" "gallery" "suscribe"
        grid-template-rows: 80px 180px 690px 280px 820px
        grid-template-columns: 100%
        align-content: center
    #main-contacto-grid
        display: grid
        grid-template-areas: "seccion" "contacto" "suscribe"
        grid-template-rows: 80px 1100px 780px
        grid-template-columns: 98%
        textarea
            width: 100%
    #usuario-grid
        display: grid
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra"
        grid-template-rows: 80px 80px 200px 400px 300px 320px
        grid-template-columns: 98%
    #vertodo-grid
        grid-template-areas: "titulo" "detalle" "disponible" "sugerencia"
        grid-template-rows: 80px 460px 620px 400px
        grid-template-columns: 98%
@media screen and ( min-width: 767px ) and ( max-width: 1023px )
    #tienda-grid
        display: grid
        grid-template-areas: "titulo" "descripcion" "productos" "gallery" "suscribe"
        grid-template-rows: 60px 100px 220px 430px 620px
        grid-template-columns: 100%
        grid-column-gap: 5px
        grid-row-gap: 10px
        align-content: center
        .productosSeleccion
            .button-tienda
                padding: 0.28em 0.42em 0.13em;

    #main-contacto-grid
        display: grid
        grid-template-areas: "seccion" "contacto" "suscribe"
        grid-template-rows: 80px 780px 600px
        grid-template-columns: 98%

    #usuario-grid
        display: grid
        grid-template-areas: "titulo" "nombre-usuario" "card-usuario" "tab-usuario" "carrito" "proceso-compra"
        grid-template-rows: 80px 80px 200px 400px 300px 320px
        grid-template-columns: 98%

@media screen and ( min-width: 1024px )
    #tienda-grid
        grid-template-areas: "titulo" "descripcion" "productos" "gallery" "suscribe"
        grid-template-rows: 80px 80px 420px 680px  630px
        grid-template-columns: 100%
    .detalle-producto
        padding: 0.2rem
        figure
            img
                width: 75%
    .listado-modelos
        width: 95%
        display: flex
        flex-flow: row
        overflow: hidden
        overflow-x: scroll
        justify-content: space-between
        a
            img
                width: 100%
    #main-contacto-grid
        display: grid
        grid-template-areas: "seccion" "contacto" "suscribe"
        grid-template-rows: 80px 760px 600px
        grid-template-columns: 98%
