#div-index-grid
    vertical-align: baseline
    display: grid
    grid-template-areas: "titulo titulo titulo" "ilustradores gallery descripcion" "titulo-autor titulo-autor titulo-autor""autor-video autor-biografia autor-redes" "titulo-diseno titulo-diseno titulo-diseno" "compra p-descripcion p-descripcion" "sugerencias sugerencias sugerencias" "carrito carrito carrito" "suscribe suscribe suscribe"
    grid-template-rows: 80px 380px 80px 360px 80px 450px 380px 240px 630px
    grid-template-columns: 28% 35% 36%
    grid-column-gap: 10px
    grid-row-gap: 10px
    align-content: center
    >h2
        &.seccion
            grid-area: titulo
    >#ilustradores
        grid-area: ilustradores
    >div
        &.slideGallery
            grid-area: gallery
    >#descripcion
        grid-area: descripcion
    >#titulo-autor
        grid-area: titulo-autor
    >iframe
        &.autor-video
            grid-area: autor-video
    >aside
        &.biografia
            grid-area: autor-biografia
    >aside
        &#redesIlustrador
            grid-area: autor-redes
    >#sugerencias
        grid-area: sugerencias
    >#titulo-diseno
        grid-area: titulo-diseno
    >#producto-compra
        grid-area: compra
    >div
        &.producto-descripcion
            grid-area: p-descripcion
    >#carrito
        grid-area: carrito
    >aside
        &.suscribe.wow.fadeInUp
            grid-area: suscribe

#main-noticias-grid
    display: grid
    grid-template-areas: "seccion" "noticias" "suscribe"
    grid-template-rows: 80px 1370px 640px
    grid-template-columns: 98%
    grid-column-gap: 5px
    grid-row-gap: 15px
    h2
        &.seccion
            grid-area: seccion
    div
        &.noticias
            grid-area: noticias
    aside
        &.suscribe
            grid-area: suscribe

#vertodo-grid
    display: grid
    grid-template-areas: "titulo titulo" "detalle disponible" "compra p-descripcion" "carrito carrito"
    grid-template-rows: 80px 660px 450px 240px
    grid-template-columns: 42% 56%
    grid-column-gap: 15px
    grid-row-gap: 10px
    h2
        &.seccion
            grid-area: titulo
    section
        &.detalle-producto
            grid-area: detalle
    section
        &.disponibles
            grid-area: disponible
    #producto-compra
        grid-area: compra
    div
        &.producto-descripcion
            grid-area: p-descripcion
    #carrito
        grid-area: carrito

#usuario-grid
    display: grid
    grid-template-areas: "titulo titulo" "nombre-usuario nombre-usuario" "card-usuario tab-usuario" "carrito proceso-compra"
    grid-template-rows: 80px 80px 350px 320px
    grid-template-columns: 36% 58%
    grid-column-gap: 10px
    grid-row-gap: 10px
    align-content: center
    h2
        &.seccion
            grid-area: titulo
    h3
        &.name-usuario
            grid-area: nombre-usuario
    figure
        &.usuario
            grid-area: card-usuario
    article
        &.tab-usuario
            grid-area: tab-usuario
    >#carrito
        grid-area: carrito
    aside
        &.proceso-de-compra
            grid-area: proceso-compra
