.ilustradores
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    margin: 0
    width: 100%
    figure
        width: 25%
    img
        border-radius: 100%
        border-style: groove
        border-bottom-color: darksalmon
        border-left-color: rgb(255,115,0)
        border-top-color: rgb(255, 0, 98)
        border-right-color: rgb(255, 38, 0)
        width: 10rem
        &:hover
            border-style: dashed
    p
        +color-fuente($color-lectura,$fuente-secundaria)
        font-weight: bolder
        line-height: 1.5
        font-size: large
    h3
        +color-fuente($color-resaltador, $fuente-principal)
        line-height: 2
        font-size: large

@import color-fuente
=color-fuente($color,$fuente)
    color: $color
    font-family: $fuente

@media screen and ( min-width: 319px ) and ( max-width: 409px )
    .ilustradores
        
        figure
            width: 100%
            margin: 2%
            p
                width: 100&
@media screen and ( min-width: 410px ) and ( max-width: 766px )
    .ilustradores
        figure
            width: 100%
            margin: 2%
            p
                margin: 0
@media screen and ( min-width: 767px ) and ( max-width: 1023px )
    .ilustradores
        figure
            width: 50%
            margin: 0
            p
                margin: 5%
@media screen and ( min-width: 1024px )
    .ilustradores
        figure
            width: 50%
            margin: 0
            p
                margin: 5%
