.welcome
    width: 94%

.productos-gallery
    &*
        box-sizing: border-box
    .active 
        background-color: #717171

.mySlides
    display: none
img
    vertical-align: middle
.slideshow-container
    max-width: 1000px
    position: relative
    margin: auto
.dot
    height: 15px
    width: 15px
    margin: 0 2px
    background-color: #bbb
    border-radius: 50%
    display: inline-block
    transition: background-color 0.6s ease

.fade
    animation-name: fade
    animation-duration: 1.5s

@keyframes fade
    from 
        opacity: 0.4
    to 
        opacity: 1

@media only screen and (max-width: 300px)
    .text
        font-size: 11px
    .productos-gallery
        width: 100%
.cartel-container
    display: flex
    flex-flow: column
    align-items: center
    h1
        color: rgb(0, 153, 255)
        font-family: "Amatic SC", cursive
        font-size: 400%
.intro
    color: rgb(58, 50, 50)
    font-family: 'Josefin Sans', sans-serif
    font-size: 200%
    text-align: center
    p
        span
            display: block
.borde-radio
    border-radius: 15px 50px
    padding: 1rem
    margin: 1rem
.blueGreen
    background: #74ebd5
    background: linear-gradient(to right, #ACB6E5, #74ebd5)
.yellowPink
    background: #d9a7c7
    background: linear-gradient(to right, #fffcdc, #d9a7c7)
.colorsOfSky
    background: #E0EAFC
    background: linear-gradient(to right, #CFDEF3, #E0EAFC)
.atlas
    background: #FEAC5E
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E)
.megatron
    background: #C6FFDD
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD)
.azureLane
    background: #7F7FD5
    background: linear-gradient(to right, #91EAE4, #a6b6d4, #9f9fe6)
.relaxinRed
    background: #fffbd5
    background: linear-gradient(to right, #b20a2c, #fffbd5)
.ir-tienda
    display: flex
    flex-flow: wrap
    justify-content: space-around
    margin: 1rem
.button-tienda
    display: inline-block
    text-align: center
    background: #eee
    color: rgb(58,50,50)
    font-weight: bold
    padding: 1.18em 1.32em 1.03em
    border-radius: 1em
    min-width: 8.23em
    text-decoration: none
