@media screen and ( min-width: 319px )
    .container
        max-width: 315px
        margin: auto

@media screen and ( min-width: 359px )
    container
        max-width: 350px
        margin: auto

@media screen and ( min-width: 374px )
    .container
        max-width: 370px
        margin: auto

@media screen and ( min-width: 410px )
    .container, .container-footer
        max-width: 402px
        margin: auto

@media screen and ( min-width: 576px )
    .container, .container-footer
        max-width: 550px
        margin: auto
@media screen and ( min-width: 768px )
    .container, .container-footer
        max-width: 750px
        margin: auto
@media screen and ( min-width: 992px )
    .container, .container-footer
        max-width: 980px
        margin: auto
@media screen and ( min-width: 1200px )
    .container, .container-footer
        max-width: 1240px
        margin: auto
