
.noticias
    display: flex
    flex-flow: row
    flex-wrap: wrap
    justify-content: space-evenly
    align-content: flex-start
    >figure
        display: flex
        flex-flow: row
        flex-wrap: wrap
        align-items: flex-start
        margin: 0.7rem
        animation: slideInUp 1s 0.2s ease-in

        >img
            border: rgb(243, 243, 243) solid
            margin: 1rem
            display: inline-block
            width: 25%

        >p
            +color-fuente($color-resaltador, $fuente-principal)
            line-height: 2
            font-size: large
            display: inline-block
            position: relative
            width: 50%

@keyframes slideInUp
    from
        -webkit-transform: translate3d(0, 100%, 0)
        transform: translate3d(0, 100%, 0)
        visibility: visible

    to
        -webkit-transform: translate3d(0, 0, 0)
        transform: translate3d(0, 0, 0)

.slideInUp
    -webkit-animation-name: slideInUp
    animation-name: slideInUp

@import color-fuente
=color-fuente($color,$fuente)
    color: $color
    font-family: $fuente