.puntos-venta
    height: 100%
    width: 100%
    margin: 0
.ubicaciones
    width: 100%
#map-arg, #map-otros
    height: 500px
.ubicaciones
    h3, p
        color: rgb(58,50,50)
        line-height: 1.8
        font-size: 120%
        font-family: "Josefin Slab", serif
