//animation: fadeInLeft 2s 0.2s ease-in
.boton-inicio
    position: sticky
    top: 490px
    display: inline-block
    left: 90%
    z-index: 3
.productosSeleccion
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    *
        animation: fadeInUp 2s 0.2s ease-in
        margin: 2%
        width: fit-content

.introduccion
    color: rgb(58,50,50)
    line-height: 1.8
    font-size: 120%
    font-family: "Josefin Slab", serif
    padding-right: 1.5rem
    padding-left: 1.5rem
    font-weight: 600
.slidegallery
    &*
        box-sizing: border-box
    .active 
        background-color: #717171
    h2
        text-align: center
        line-height: 2
