.detalle-producto
    >figure
        background-color: #ffffff8c
        box-sizing: border-box
        margin: 0
        >h3
            color: rgb(58,50,50)
            line-height: 1.8
            font-size: 120%
            font-family: "Josefin Slab", serif
        >img
            width: 80%
            &:hover
                cursor: -webkit-zoom-in

.disponibles
    height: 640px
    max-height: max-content
    overflow: hidden

.listado-modelos
    overflow: hidden
    overflow-x: scroll
    display: flex
    flex-flow: nowrap
    flex-direction: row
    border-style: solid
    border-color: rgb(58,50,50)
    margin: 0em
    padding: 0.5rem
    background-color: white
    width: 
    a
        img
            width: 80px
            display: inline-block
            transform: scale(1)
            transition: all 500ms ease-in-out
        &:hover
            background-color: rgba(197, 197, 197, 0.2)
            transform: scale(0.8)
            border-radius: 10px

.listado-productos
    display: flex
    flex-flow: wrap
    width: 45vw
    list-style: none
    height: 620px
    max-height: max-content
    overflow: hidden
    overflow-y: scroll
    background-color: rgb(255, 255, 255)
    border-left-style: solid
    border-left-color: rgb(243, 243, 243)
    border-left-width: 2px
    img
        border: rgb(243, 243, 243) solid
        width: 240px
        height: 240px
        margin: 1rem